
table {
    width: 350px; 
    height: 300px;
}

table tr {
    font-weight: bold;
    font-size: 46px;
    color: crimson;
}

table tr td {
    text-align: center; 
    width: 33.33%;
}

table tr td:hover {
    cursor:pointer;
    background-color:#dddddd;
}

table td {
    border-bottom: 4px solid #595c62;
    border-left: 4px solid #595c62;
    /*padding: 1em;*/
}

table td:first-of-type {
  border-left: none;
}

#jogadores {
    margin: 0 auto;
    width: 40%;
    font-size: 15;
    height: 350px;
}

#game {
    margin: 0 auto;
    width: 40%;
}

#botaoIniciar {
    float:right
}

#ultimo {
    border-bottom: none;
}
